.btn-table-sm {
    height: 20px;
    font-size: 1em;
    width: auto;
    padding: 15px 0 15px 0;
}

.text-not-italic {
    font-style: normal;
}

.alert-sm {
    margin-left: 10px;
    padding: .4rem 1.25rem;
    padding-left: 2.5rem !important;
}

.alert-sm .icon {
    top: auto !important;
    left: .6rem !important;
}

.mfp-image-holder .mfp-content {
    max-width: calc(100% - 13%);
}

.edit-icon {
    display: flex;
    z-index: 100;
    position: absolute;
    right: 5px;
    top: 5px;
    background-color: #ffffff;
    box-shadow: 0px 0px 0px 0px black;
    color: #9021f5;
}

.edit-icon:hover {
    color: rgb(255, 20, 90);
}

.edit-icon .icon {
    font-size: 1.5em;
    cursor: pointer;
}

.f-200 {
    padding: 5px;
}

.f-500 {
    max-height: 500px !important;
}

.f-150 {
    max-height: 150px;
    max-width: 150px;
}


/* responsive */
@media only screen and (min-width: 992px) {
    .f-200 {
        min-height: 200px !important;
        max-height: 200px !important;
    }
}

@media only screen and (min-width: 575px) {
    .f-200 {
        min-height: 210px !important;
        max-height: 210px !important;
    }
}

@media only screen and (min-width: 300px) {
    .f-200 {
        min-height: 290px !important;
        max-height: 290px !important;
    }
}